<section class="content-header">
    <h1>
        Thêm mới quyền
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="app_roles">Danh mục quyền</a></li>
        <li class="active"><a href="#">Thêm mới</a></li>
    </ol>
</section>
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới quyền: {{role.Name}}</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" role="form" novalidate name="frmAddAppRole" ng-submit="addAppRole()">
            <div class="box-body">
                <div class="col-md-8">
                    <div class="form-group" ng-class="{ 'has-error' : frmAddAppRole.name.$invalid && !frmAddAppRole.name.$pristine }">
                        <label class="col-sm-2 control-label">Tên quyền</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" required ng-maxlength="250" ng-model="role.Name">
                            <span ng-show="frmAddAppRole.name.$error.required" class="has-error">Vui lòng nhập tên quyền.</span>
                            <span ng-show="frmAddAppRole.name.$error.maxlength" class="has-error">Tên quyền chỉ được 250 ký tự.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : frmAddAppRole.description.$invalid && !frmAddAppRole.description.$pristine }">
                        <label class="col-sm-2 control-label">Mô tả</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" name="description" ng-maxlength="250" required ng-model="role.Description"></textarea>
                            <span ng-show="frmAddAppRole.description.$error.required" class="has-error">Vui lòng nhập mô tả.</span>
                            <span ng-show="frmAddAppRole.description.$error.maxlength" class="has-error">Mô tả chỉ được 250 ký tự.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a ui-sref="application_roles" class="btn btn-default">Hủy bỏ</a>
                            <input type="submit" ng-disabled="frmAddAppRole.$invalid" class="btn btn-primary" value="Lưu lại" />
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->