<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="3"/>
  <add key="PageSizePost" value="4"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="z00freestyle00z@gmail.com"/>
  <add key="FromEmailPassword" value="z00hoilamgi00z"/>
  <add key="FromName" value="TheShoes"/>
  <add key="AdminEmail" value="z00hoilamgi00z@gmail.com"/>

  <add key="CurrentLink" value="http://theshoes.somee.com/"/>
  <add key="EnableBundles" value="false"/>  

  <add key="HomeTitle" value="Giày Nữ Thời Trang - The Shoes"/>
  <add key="HomeKeyword" value="Giày Nữ Thời Trang - Giày Công Sở, Giày Dự Tiệc, Giày Đi Chơi"/>
  <add key="HomeDescription" value="The Shoes - thương hiệu cung cấp dòng sản phẩm Giày Nữ Thời Trang .Với đội ngũ nhân viên là những chuyên gia về thời trang đem đến vẻ đẹp toàn diện cho Phụ Nữ"/>
</appSettings>
