<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close absolute" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul>
                <li class="menu-header">&nbsp;</li>
                <li>
                    <a class="language-switcher" href="javascript: switchLanguage(2);">
                        <i class="fa fa-fw fa-lg fa-globe"></i>
                        <span class="chosen-language">English</span>
                    </a>
                </li>
                <li>
                    <a href="cong-ty.html">
                        <i class="fa fa-lg fa-fw fa-building"></i>
                        <span>Công Ty <span class="label label-sm label-danger m-t-n-sm label__new-tag">MỚI</span></span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://hrinsider.vietnamworks.com/category/nguoi-tim-viec/">
                        <i class="fa fa-lg fa-fw fa-info-circle"></i>
                        <span>Tư Vấn</span>
                    </a>
                </li>
                <li>
                    <a href="bao-mat.html">
                        <i class="fa fa-lg fa-fw fa-shield"></i>
                        <span>Bảo Mật</span>
                    </a>
                </li>
                <li>
                    <a href="dang-nhap.html">
                        <i class="fa fa-lg fa-sign-in fa-fw "></i>Đăng Nhập
                    </a>
                </li>
                <li>
                    <a href="dang-ky.html">
                        <i class="fa fa-lg fa-user-plus fa-fw "></i>Đăng Ký
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
