<div class="arrow"></div>
<h3 class="popover-title">Thông Báo</h3>
<div class="popover-content">
    <div class="notification-item">
        <div>
            <span class="notification-item__label label label-sm label-danger">HOT</span>
            <a href="viec-lam-goi-y.html">Có <strong>18 vị trí</strong> mới hấp dẫn cho bạn</a>
        </div>
    </div>
    <div class="notification-item">
        <div>
            <i class="fa fa-info-circle fa-fw"></i>
            <a href="dang-ky.html">Đăng ký ngay để tìm việc và thăng tiến</a>
        </div>
    </div>
</div>
