<section class="content-header">
    <h1>
        Cập nhật nhóm
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="categories">Danh mục nhóm</a></li>
        <li class="active"><a href="#">Cập nhật</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Cập nhật nhóm: {{group.Name}}</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" role="form" novalidate name="frmUpdateAppGroup" ng-submit="updateApplicationGroup()">
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{ 'has-error' : frmUpdateAppGroup.name.$invalid && !frmUpdateAppGroup.name.$pristine }">
                            <label class="col-sm-2 control-label">Tên nhóm</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control" required ng-maxlength="250" ng-model="group.Name">
                                <span ng-show="frmUpdateAppGroup.name.$error.required" class="has-error">Vui lòng nhập tên nhóm.</span>
                                <span ng-show="frmUpdateAppGroup.name.$error.maxlength" class="has-error">Tên nhóm chỉ được 250 ký tự.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : frmUpdateAppGroup.description.$invalid && !frmUpdateAppGroup.description.$pristine }">
                            <label for="inputEmail3" class="col-sm-2 control-label">Mô tả ngắn</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" name="description" ng-maxlength="250" required ng-model="group.Description"></textarea>
                                <span ng-show="frmUpdateAppGroup.description.$error.required" class="has-error">Vui lòng nhập mô tả.</span>
                                <span ng-show="frmUpdateAppGroup.description.$error.maxlength" class="has-error">Mô tả chỉ được 250 ký tự.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label ng-repeat="role in roles">
                                    <input type="checkbox" checklist-model="group.Roles" checklist-value="role"> {{role.Description}} &nbsp;
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a ui-sref="application_groups" class="btn btn-default">Hủy bỏ</a>
                                <input type="submit" ng-disabled="frmUpdateAppGroup.$invalid" class="btn btn-primary" value="Lưu lại" />
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </form>
        </div>
    </div>
</section>