<section class="content-header">
    <h1>
        Thêm mới người dùng
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="accounts">Danh mục người dùng</a></li>
        <li class="active"><a href="#">Thêm mới</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Thêm mới người dùng: {{account.FullName}}</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" role="form" novalidate name="frmAddAccount" ng-submit="addAccount()">
                <div class="box-body">
                    <div class="col-md-8">
                        <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.name.$invalid && !frmAddAccount.name.$pristine }">
                            <label class="col-sm-2 control-label">Họ tên</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control" required ng-maxlength="256" ng-model="account.FullName">
                                <span ng-show="frmAddAccount.name.$error.required" class="has-error">Vui lòng nhập họ tên.</span>
                                <span ng-show="frmAddAccount.name.$error.maxlength" class="has-error">Họ tên chỉ được 256 ký tự.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.userName.$invalid && !frmAddAccount.userName.$pristine }">
                            <label class="col-sm-2 control-label">Tài khoản</label>
                            <div class="col-sm-10">
                                <input type="text" name="userName" class="form-control" required ng-maxlength="50" ng-model="account.UserName">
                                <span ng-show="frmAddAccount.userName.$error.required" class="has-error">Vui lòng nhập tài khoản.</span>
                                <span ng-show="frmAddAccount.userName.$error.maxlength" class="has-error">Tài khoản chỉ được 50 ký tự.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.password.$invalid && !frmAddAccount.password.$pristine }">
                            <label class="col-sm-2 control-label">Mật khẩu</label>
                            <div class="col-sm-10">
                                <input type="password" name="password" class="form-control" required ng-maxlength="50" ng-model="account.Password">
                                <span ng-show="frmAddAccount.password.$error.required" class="has-error">Vui lòng nhập mật khẩu.</span>
                                <span ng-show="frmAddAccount.password.$error.maxlength" class="has-error">Mật khẩu chỉ được 50 ký tự.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.email.$invalid && !frmAddAccount.email.$pristine }">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" name="email" class="form-control" required ng-maxlength="256" ng-model="account.Email">
                                <span ng-show="frmAddAccount.email.$error.required" class="has-error">Phải nhập email.</span>
                                <span ng-show="frmAddAccount.email.$error.maxlength" class="has-error">Email chỉ được 256 ký tự.</span>
                                <span ng-show="frmAddAccount.email.$error.email" class="has-error">Định dạnh email không đúng.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Điện thoại</label>
                            <div class="col-sm-10">
                                <input type="text" name="phone" class="form-control" ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{3}[- ]?\d{4}$/" ng-maxlength="50" ng-model="account.PhoneNumber">
                                <span ng-show="frmAddAccount.phone.$error.maxlength" class="has-error">Số điện thoại chỉ được 50 ký tự.</span>
                                <span ng-show="frmAddAccount.phone.$error.pattern" class="has-error">Định dạng số điện thoại không đúng.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.address.$invalid && !frmAddAccount.address.$pristine }">
                            <label class="col-sm-2 control-label">Địa chỉ</label>
                            <div class="col-sm-10">
                                <input type="text" name="address" class="form-control" ng-maxlength="256" ng-model="account.Address">
                                <span ng-show="frmAddAccount.name.$error.maxlength" class="has-error">Địa chỉ chỉ được 256 ký tự.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.birthDate.$invalid && !frmAddAccount.birthDate.$pristine }">
                            <label class="col-sm-2 control-label">Ngày sinh</label>
                            <div class="col-sm-10">
                                <input type="date" name="birthDate" class="form-control" required ng-model="account.BirthDay">
                                <span ng-show="frmAddAccount.birthDate.$error.required" class="has-error">Ngày sinh bắt buộc.</span>
                                <span ng-show="frmAddAccount.birthDate.$error.date" class="error">Định dạng ngày sinh không đúng.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label ng-repeat="group in groups">
                                    <input type="checkbox" checklist-model="account.Groups" checklist-value="group"> {{group.Name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a ui-sref="application_users" class="btn btn-default">Hủy bỏ</a>
                                <input type="submit" ng-disabled="frmAddAccount.$invalid" class="btn btn-primary" value="Lưu lại" />
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </form>
        </div>
    </div>
</section>