<section class="content-header">
    <h1>
        Cập nhất người dùng
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="accounts">Danh mục người dùng</a></li>
        <li class="active"><a href="#">Cập nhật</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Cập nhất người dùng: {{account.FullName}}</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" role="form" novalidate name="frmUpdateAccount" ng-submit="updateAccount()">
                <div class="box-body">
                    <div class="col-md-8">
                        <div class="form-group" ng-class="{ 'has-error' : frmUpdateAccount.name.$invalid && !frmUpdateAccount.name.$pristine }">
                            <label class="col-sm-2 control-label">Họ tên</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control" required ng-maxlength="256" ng-model="account.FullName">
                                <span ng-show="frmUpdateAccount.name.$error.required" class="has-error">Vui lòng nhập họ tên.</span>
                                <span ng-show="frmUpdateAccount.name.$error.maxlength" class="has-error">Họ tên chỉ được 256 ký tự.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : frmUpdateAccount.address.$invalid && !frmUpdateAccount.address.$pristine }">
                            <label class="col-sm-2 control-label">Địa chỉ</label>
                            <div class="col-sm-10">
                                <input type="text" name="address" class="form-control" ng-maxlength="256" ng-model="account.Address">                               
                                <span ng-show="frmUpdateAccount.name.$error.maxlength" class="has-error">Địa chỉ chỉ được 256 ký tự.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : frmUpdateAccount.email.$invalid && !frmUpdateAccount.email.$pristine }">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" name="email" class="form-control" required ng-maxlength="256" ng-model="account.Email">
                                <span ng-show="frmUpdateAccount.email.$error.required" class="has-error">Phải nhập email.</span>
                                <span ng-show="frmUpdateAccount.email.$error.maxlength" class="has-error">Email chỉ được 256 ký tự.</span>
                                <span ng-show="frmUpdateAccount.email.$error.email" class="has-error">Định dạnh email không đúng.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Điện thoại</label>
                            <div class="col-sm-10">
                                <input type="text" name="phone" class="form-control" ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{3}[- ]?\d{4}$/" ng-maxlength="50" ng-model="account.PhoneNumber">
                                <span ng-show="frmUpdateAccount.phone.$error.maxlength" class="has-error">Số điện thoại chỉ được 50 ký tự.</span>
                                <span ng-show="frmUpdateAccount.phone.$error.pattern" class="has-error">Định dạng số điện thoại không đúng.</span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label ng-repeat="group in groups">
                                    <input type="checkbox" checklist-model="account.Groups" checklist-value="group"> {{group.Name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a ui-sref="application_users" class="btn btn-default">Hủy bỏ</a>
                                <input type="submit" ng-disabled="frmUpdateAccount.$invalid" class="btn btn-primary" value="Lưu lại" />
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </form>
        </div>
    </div>
</section>