
@{
    ViewBag.Title = "Security";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div class="vnw-security-manifesto__top-background"></div>
<!-- Main Content -->
<section class="main-content container vnw-security-manifesto" id="content">
    <div class="row">
        <div class="col-sm-12 col-lg-10 col-lg-push-1">
            <div class="vnw-security-manifesto__header clearfix">
                <h1>Bảo Mật Thông Tin <br class="visible-xs" /> Ở VietnamWorks</h1>
                <p class="text-white vnw-security-manifesto__description">
                    Ở VietnamWorks, chúng tôi đặc biệt quan tâm đến việc bảo mật thông tin cho người dùng
                    vì chắc chắn rằng mỗi khách hàng sử dụng dịch vụ của chúng tôi đều mong muốn thông tin
                    được bảo vệ và đảm bảo bí mật. Chúng tôi hiểu trách nhiệm của mình trong việc bảo đảm
                    an toàn cho dữ liệu của khách hàng để xây dựng và bảo vệ sự tin tưởng quý khách hàng
                    đã dành cho chúng tôi. Trong trường hợp quý khách hàng phát hiện bất kỳ lỗ hổng bảo
                    mật hay có câu hỏi liên quan, xin vui lòng liên hệ với chúng tôi theo hộp thư
                    <a class="text-white" href="mailto:support@vietnamworks.com">
                        <strong>support@vietnamworks.com</strong>.
                    </a>
                </p>
            </div>
            <div class="vnw-security-manifesto__content">
                <div id="vnw-security-manifesto__confidentiality" class="box box-md vnw-security-manifesto__confidentiality">
                    <h2>Bảo Mật</h2>
                    <p>
                        Chúng tôi kiểm soát chặt chẽ việc tiếp cận của nhân viên VietnamWorks đến dữ liệu mà quý khách hàng đăng tải thông qua các dịch vụ của
                        VietnamWorks.com và cam kết đảm bảo rằng dữ liệu cá nhân không được nhìn thấy bởi bất cứ ai không cần phải có quyền truy cập vào nó. Các
                        hoạt động của dịch vụ VietnamWorks.com đòi hỏi rằng một số nhân viên cần có quyền truy cập vào các hệ thống lưu trữ và xử lý dữ liệu cá
                        nhân. Ví dụ, để nghiên cứu và hỗ trợ một vấn đề cụ thể nào đó mà quý khách hàng đang gặp với các dịch vụ VietnamWorks.com, chúng tôi có
                        thể cần phải truy cập vào dữ liệu cá nhân của quý khách hàng. Những nhân viên này đều bị cấm sử dụng những quyền để xem dữ liệu cá nhân
                        trừ khi nó là cần thiết để làm như vậy. Chúng tôi có những thiết lập kỹ thuật để kiểm soát nhằm đảm bảo rằng bất kỳ quyền truy cập vào dữ
                        liệu cá nhân đều được theo dõi kỹ càng.
                    </p>
                    <p>
                        Tất cả nhân viên chính thức và nhân viên hợp đồng của chúng tôi đều bị ràng buộc bởi các chính sách của chúng tôi liên quan đến dữ liệu
                        cá nhân và chúng tôi xử lý những vấn đề này ở tầm quan trọng cao nhất trong công ty của chúng tôi.
                    </p>
                </div>
                <div id="vnw-security-manifesto__personal-practices" class="box box-md vnw-security-manifesto__personal-practices">
                    <h2>Chính Sách Nhân Sự</h2>
                    <p>
                        Tất cả các nhân viên phải đọc hiểu và ký thoả thuận tuân thủ chính sách an ninh thông tin toàn diện của chúng tôi bao gồm việc đảm bảo sự
                        an ninh, sẵn sàng, và bảo mật các dịch vụ của VietnamWorks.com.
                    </p>
                </div>
                <div id="vnw-security-manifesto__compliance" class="box box-md vnw-security-manifesto__compliance">
                    <h2>Chứng Chỉ Bảo Mật</h2>
                    <p>
                        Các hệ thống cung cấp và lưu trữ dữ liệu của các dịch vụ VietnamWorks.com luôn đòi hỏi phải duy trì nhiều chứng chỉ khác nhau liên quan
                        đến bảo mật.
                    </p>
                </div>
                <div id="vnw-security-manifesto__data-encryption" class="box box-md vnw-security-manifesto__data-encryption">
                    <h2>Mã Hoá Dữ Liệu Trong Quá Trình Vận Chuyển </h2>
                    <p>
                        Dữ liệu của các dịch vụ VietnamWorks.com trong tất cả các kênh vận chuyển đều sử dụng bộ mã hoá an toàn và giao thức mã hóa (SSL) mới
                        nhất đang được khuyến nghị sử dụng.
                    </p>
                </div>
                <div id="vnw-security-manifesto__availability" class="box box-md vnw-security-manifesto__availability">
                    <h2>Sự Sẵn Sàng</h2>
                    <p>
                        Chúng tôi hiểu rằng quý khách hàng sử dụng các dịch vụ VietnamWorks.com để làm việc. Chúng tôi cam kết làm hết sức để các dịch vụ
                        VietnamWorks.com luôn sẵn sàng bất kỳ khi nào quý khách hàng cần đến. Cơ sở hạ tầng của chúng tôi chạy trên nền hệ thống được thiết kế để
                        có thể chịu đựng được các sự cố, ví dụ khi có máy chủ gặp sự cố hoặc ngay cả khi trung tâm dữ liệu có sự cố. Đội ngũ nhân viên vận hành
                        hệ thống thường xuyên đo lường và kiểm tra khả năng phục hồi từ sự cố của hệ thống và chúng tôi luôn có nhân viên theo dõi để có thể kịp
                        thời xử lý các sự cố ngoài ý muốn.
                    </p>
                </div>
                <div id="vnw-security-manifesto__disaster-recovery" class="box box-md vnw-security-manifesto__disaster-recovery">
                    <h2>Khả Năng Phục Hồi Từ Sự Cố</h2>
                    <p>
                        Chúng tôi định ra một quy trình kỹ càng cho vấn đề sao lưu và phục hồi, điều này cho phép chúng tôi có thể phục hồi hệ thống từ những sự
                        cố nghiêm trọng. Thông tin cá nhân và mã nguồn được tự động sao lưu định kỳ. Trong trường hợp có sự cố xảy ra, đội ngũ vận hành sẽ ngay
                        lập tức được cảnh báo.
                    </p>
                </div>
                <div id="vnw-security-manifesto__network-protection" class="box box-md vnw-security-manifesto__network-protection">
                    <h2>Bảo Vệ Mạng</h2>
                    <p>
                        Bức tường lửa (firewalls) cũng được dựng theo các khuyến nghị trên thế giới và những cổng (ports) không sử dụng cũng đều được khoá lại.
                    </p>
                </div>
                <div id="vnw-security-manifesto__host-management" class="box box-md vnw-security-manifesto__host-management">
                    <h2>Quản Trị Máy Chủ</h2>
                    <p>
                        Chúng tôi thực hiện quét tự động các máy chủ và khắc phục bất kỳ phát hiện nào có nguy cơ ảnh hưởng đến hệ thống.
                    </p>
                </div>
                <div id="vnw-security-manifesto__logging" class="box box-md vnw-security-manifesto__logging">
                    <h2>Lưu Dấu</h2>
                    <p>
                        VietnamWorks.com duy trì hệ thống lưu dấu tập trung cho toàn bộ môi trường, trong đó lưu trữ mọi thông tin liên quan đến bảo mật, truy
                        cập và các đo lường liên quan đến các dịch vụ VietnamWorks.com. Các thông tin lưu dấu này được phân tích theo các khía cạnh về bảo mật
                        bởi các phần mềm tự động và được giám sát bởi đội ngũ an ninh.
                    </p>
                </div>
                <div id="vnw-security-manifesto__incident-management" class="box box-md vnw-security-manifesto__incident-management">
                    <h2>Quản Trị Sự Cố Và Đáp Ứng</h2>
                    <p>
                        Trong trường hợp có sự cố về bảo mật, VietnamWorks.com sẽ nhanh chóng thông báo đến quý khách hàng về bất kỳ sự truy cập trái phép nào
                        đến thông tin cá nhân của quý khách hàng.
                    </p>
                    <p>VietnamWorks.com có chính sách và quy trình quản trị sự cố để có thể kịp thời xử lý khi chúng xảy ra.</p>
                </div>
                <div id="vnw-security-manifesto__security-audit" class="box box-md vnw-security-manifesto__security-audit">
                    <h2>Các Kiểm Tra Bảo Mật Từ Bên Ngoài</h2>
                    <p>
                        Chúng tôi có hợp đồng với các công ty bảo mật tên tuổi để họ định kỳ kiểm tra các dịch vụ của VietnamWorks.com nhằm đảm bảo các biện pháp
                        an ninh của chúng tôi đủ tốt và để giám sát của dịch vụ của VietnamWorks trước các lỗi bảo mật mới được phát hiện bởi cộng đồng nghiên
                        cứu.
                    </p>
                </div>
                <div id="vnw-security-manifesto__security-practices" class="box box-md vnw-security-manifesto__security-practices">
                    <h2>Đảm Bảo An Ninh Hệ Thống</h2>
                    <p>
                        Các tính năng mới và các thay đổi về thiết kế luôn phải thông qua quy trình kiểm tra của đội ngũ an ninh. Ngoài ra, mã nguồn được kiểm
                        tra bằng phần mềm phân tích tự động, cũng như kiểm thử và xem xét bằng tay trước khi được cài đặt lên hệ thống.
                    </p>
                    <p>Nhóm phát triển sản phẩm được yêu cầu để giải quyết bất kỳ nguy cơ nào về bảo mật xuất hiện từ ngay trong giai đoạn phát triển.</p>
                </div>
            </div>
        </div>
    </div>
</section>

